<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Koz_Gor_kurs.Properties.Settings.DatabaseConnectionString" connectionString="Data Source=|DataDirectory|\Database.sdf" providerName="Microsoft.SqlServerCe.Client.3.5"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      </assemblyBinding>
	</runtime>
</configuration>
